<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.b.biradar.google_ml_kit_example">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <meta-data
        android:name="com.google.mlkit.vision.DEPENDENCIES"
        android:value="ica" />
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
